body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    background-color: rgb(151, 187, 255);
}

h1 {
    text-align: center;
    font-size: 50px;
}

p {
    position: relative;
    top: 75px;
    left: 100px;
    max-width: 400px;
    height: auto;
    font-size: 24px;
    margin-bottom: 250px;
}

.img1 {
    border-radius: 20px;
    position: relative;
    top: 0%;
    left: 200%;
    max-height: 325px;
    max-width: 625px;
    width: 100%;

}

.img2 {
    position: relative;
    max-height: 325px;
    max-width: 625px;
    width: 100%;
    border-radius: 20px;
    top: 0%;
    left: 200%;
}

h3 {
    margin: 3rem;
    font-size: 28px;
    text-align: center;
}

div {
    position: relative;
    margin-bottom: 250px;
    left: 100px;
    top: 70px;
    max-width: 400px;
    height: auto;
    font-size: 24px;
}

a {
    color: white;
}

.img3 {
    border-radius: 20px;
    position: relative;
    max-height: 325px;
    max-width: 625px;
    width: 100%;
    top: 0%;
    left: 200%;
}









* {
    border: 2px solid red;
}